<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two three</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <div class="text-end text-muted">
        Додатковий текст
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
    </button>

    <br>
    <br>

       <button class="btn btn-success">
        <span class="text-uppercase">Button success</span>
    </button>

    <br>
    <br>

       <button class="btn btn-danger">
        <span class="text-uppercase">Button danger</span>
    </button>

    <br>
    <br>

       <button class="btn btn-warning">
        <span class="text-uppercase">Button warning</span>
    </button>

    <br>
    <br>

       <button class="btn btn-info">
        <span class="text-uppercase">Button info</span>
    </button>
    
    <br>
    <br>

       <button class="btn btn-light">
        <span class="text-uppercase">Button light</span>
    </button>
        
    <br>
    <br>

       <button class="btn btn-dark">
        <span class="text-uppercase">Button dark</span>
    </button>

    <br>
    <br>

       <button class="btn btn-link">
        <span class="text-uppercase">Button link</span>
    </button>

    <br>

    <a href="#" class="btn btn-primary">
        Button primary
    </a>

    <hr>

    <p class="text-success">My text success</p>
    <p class="text-danger">My text danger</p>
    <p class="text-warning">My text warning</p>
    <p class="text-info">My text info</p>
    <p class="text-dark">My text dark</p>

    <hr>
    <button class="btn btn-secondary btn-success btn-lg">Add</button>
    <button class="btn btn-outline-secondary btn-sm">Change</button>
    <button class="btn btn-outline-danger">Delete</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
    
    <br>

    <div class="card">
        <div class="card-body">
    <button class="btn btn-secondary btn-success btn-lg">Add</button>
    <button class="btn btn-outline-secondary btn-sm">Change</button>
    <button class="btn btn-outline-danger">Delete</button>
        </div>
    </div>


</main>