<div>
    <div class="row g-2">
        <div class="col-12">
            <div class="nav">
                <div class="nav-item">
                </div>
                    {{#with navigation}}
                        {{#each links}}
                            <a href="{{href}}" class="nav-link">{{text}}</a>
                        {{/each}}
                    {{/with}}
                        <a href="{{href}}" class="nav-link disabled">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>