<div>
    <div class="card">
<div class="casd-body">
    <div class="nav">
        <div class="nav-item">
        </div>
            {{#with navigation}}
                {{#each links}}
                    <a href="{{href}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
                {{/each}}
            {{/with}}
            </div>
        </div>
    </div>
    </div>
    </div>
</div>